{% extends 'base.html' %}
{% block title %}
    VerifyOTP
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <center>
                    <h3>Please check your email to verify OTP</h3>

                    <form method="POST" action="{% url 'viewonline' %}">
                        {% csrf_token %}
{#                        <input type="hidden" name="fileID" value="{{ id }}">#}
                        <input type="text" class="form-control" placeholder="OTP here"
                               aria-label="OTP"
                               aria-describedby="addon-wrapping" name="otps">
                        <button type="submit" class="btn btn-primary btn-sm" name="fileID" value="{{ id }}"> Send</button>
                    </form>


                    <p>If you don't receive OTP. Click here</p>
                    <form method="POST" action="{% url 'sendOtp' %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-info btn-sm"
                               value="Re-send OTP">
                    </form>
                </center>
            </div>
        </div>
    </div>
{% endblock %}

